body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4; /* Un fondo claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para centrar verticalmente */
    margin: 0;
}

main {
    width: 400px; /* Ancho del contenedor principal */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

.contendor__todo {
    width: 100%;
}

.contenedor__login-register {
    padding: 20px;
}

.formulario__login {
    display: flex;
    flex-direction: column;
}

.formulario__login h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.formulario__login input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.formulario__login button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario__login button:hover {
    background-color: #0056b3;
}

.caja__trasera {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.caja__trasera-register h3 {
    margin-bottom: 10px;
    color: #333;
}

.caja__trasera-register p {
    margin-bottom: 20px;
    color: #666;
}

.caja__trasera-register button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.caja__trasera-register button:hover {
    background-color: #1e7e34;
}

.caja__trasera-register a{
    color: white;
    text-decoration: none;
}